/* Based on http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
sup {vertical-align:super;}
sub {vertical-align:sub;}
sup,sup {line-height:1;font-size:.5em;}

body {
	font: 1em/1.5 sans-serif;
}

/*===== Layout =====*/
html {
	background-color:#000;
}
body {
	padding:10px;
	width:300px;
	margin:0 auto;
	background-color:#f9f9f9;
	color:#333;
}
#mainContent {
	
}
#currentimg {
	width:128px;
	height:128px;
	float:left;
	margin:0 16px 0 0;
}
#currentimg.noConditionIcon {
	background:url(/img/weather-none-available.png) no-repeat;
}
#forecastData {
	clear:both;
}
#currentcond, .cityfbox, #data, .box {
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-border-radius:6px;
	   -moz-border-radius:6px;
	        border-radius:6px;
	margin:10px 0 20px;
	padding:10px;
	position:relative;
	overflow:hidden;
	-webkit-transition:.5s height ease;
	   -moz-transition:.5s height ease;
	     -o-transition:.5s height ease;
	        transition:.5s height ease;
}
.cityfbox {
	text-align:center;
	padding:10px 0 0;
}
#current-time {
	position:absolute;
	right:6px;
	bottom:3px;
	font-size:12px;
}
.fperiod {
	display:inline-block;
	width:29%;
	margin:0 1.5% 1em 1.5%;
	vertical-align:top;
	height:7.5em;
}
.fdetails {
	padding:10px;
	text-align:left;
	border-top:1px solid #ddd;
}
.fdetails dd, .fdetails dt {
	width:45%;
}
.fdetails dd:nth-of-type(odd), .fdetails dt:nth-of-type(odd) {
	float:left;
	clear:left;
}
.fdetails dd:nth-of-type(even), .fdetails dt:nth-of-type(even) {
	float:right;
	position:relative;
	top:-1.5em;
}
.fdetails dd:nth-of-type(odd) {
	margin:0 0 1em;
}
#data > dl {
	width:45%;
	float:left;
	font-size:.75em;
	margin-bottom:1.5em;
}
#data > .middleCol {
	float:right;
}
#data > .rightCol {
	clear:left;
}
#data dt {
	width:40%;
	float:left;
	clear:left;
}
.fperiod .high:not(:empty) + .low:not(:empty):before {
	content: "/ ";
	opacity:.5;
	color:#000;
}
#expander {
	margin:-20px 30% 20px;
	background-color:#ddd;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image:-ms-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
	background-image:linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	text-align:center;
	text-shadow:1px 1px 0 rgba(255,255,255,.5);
	border:1px solid #ddd;
	border-top-width:0;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-radius:0 0 6px 6px;
	font-size:.875em;
}
#cityinner {
	overflow:hidden;
}
#watch.box {
	background-color:#f5f77c;
	border-color:#E2E34C;
}
#warning.box {
	background-color:#d70300;
	border-color:#d70300;
	color:#fff;
}
#ended.box {
	background-color:#6ddd73;
	border-color:#81b384;
}
.info h2 a {
	display:block;
	margin:-10px;
	padding:10px;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image:-ms-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
	background-image:linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-radius:5px 5px 0 0;
}
.width600 {
	margin-top:1em;
	border-top:1px solid rgba(0,0,0,.2);
	padding-top:1em;
	font-size:.875em;
}

/*===== Typography =====*/
.info > h2 {
	text-align:center;
	font-weight:bold;
}
a {
	text-decoration:none;
	color:inherit;
}
h1 {
	font-size:1.5em;
	line-height:1;
	text-align:center;
	font-weight:200;
	margin:-10px -10px 0;
	padding:10px;
	text-shadow:-1px -1px 0 rgba(0,0,0,.5);
	background-color:#4F452F;
	color:#fff;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image:-ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0)));
	background-image:linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,.5);
	   -moz-box-shadow:0px 1px 2px rgba(0,0,0,.5);
	        box-shadow:0px 1px 2px rgba(0,0,0,.5);
	border-bottom:1px solid #000;
	position:relative;
}
.fperiod h3 {
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:.05em;
	font-size:.875em;
}
.temperature {
	font-size:2em;
	font-weight:300;
}
#cityobserved, #citycondition {
	font-size:.875em;
}
.fperiod > ul {
	font-size:.75em;
}
.fperiod .high, .fperiod .low {
	display:inline;
}
.fissued, .warningText {
	margin:0 0 1em;
}
.warningText {
	font-style:italic;
}
.fdetails {
	font-size:.75em;
}
.fdetails dt, #data .colHeading {
	font-weight:bold;
	font-size:1.167em;
	float:none;
}
.fperiod img {
	font-size:.75em;
	font-style:italic;
}
#spinner {
	margin: 10px auto;
	height: 100px;
	width: 100px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	background: url(../img/spinner.png);
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
.fperiod .high, .humidex {
	color:#ac0003;
}
.humidex::before {
	content: 'Humidex: ';
	color:#333;
}
.fperiod .low {
	color:#003f92;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
@-moz-keyframes spinnerRotate {
	from {
		-moz-transform:rotate(0deg);
	}
	to {
		-moz-transform:rotate(360deg);
	}
}

#refresh {
	position:absolute;
	right:8px;
	top:8px;
	width:24px;
	height:26px;
	background:url(../img/refresh.png) no-repeat center center;
	-webkit-transform-origin:top right;
	   -moz-transform-origin:top right;
	    -ms-transform-origin:top right;
	     -o-transform-origin:top right;
	        transform-origin:top right;
}

/*===== Kill it =====*/
.toprow,
#cityobserved dl > *, 
.dd1,
.leftList > .leftCol > *,
.rightList > .rightCol > *,
.leftList.footer, .rightList.footer,
.width600 h2 {
	display:none;
}
/*===== Restore It =====*/
.leftList > .leftCol > dd:first-of-type,
/*#cityobserved dl > dd:last-of-type,*/
.rightList > .rightCol > .longContent,
.rightList > .rightCol > .humidex {
	display:block;
}

@media screen and (orientation:landscape) {
	body {
		width:460px;
	}
	.fperiod {
		width:21.179%;
	}
	h1 {
		padding:5px;
		font-size:1.2em;
	}
	#currentimg {
		margin-right:50px;
	}
	#currentcond {
		padding:10px 50px;
	}
	#data dl {
		float:left !important;
		clear:none !important;
		width:27%;
		margin-left:6%;
	}
	#refresh {
		-webkit-transform: scale(.75) translateY(-5px);
		   -moz-transform: scale(.75) translateY(-5px);
		    -ms-transform: scale(.75) translateY(-5px);
		     -o-transform: scale(.75) translateY(-5px);
		        transform: scale(.75) translateY(-5px);
	}
	.humidex {
		
	}
}
@media screen and (orientation:portrait) {
	.fperiodlast {
		display:none;
	}
	.info > h2, .width600 {
		font-size:.75em;
	}
}